@using TheHotel.ViewModels.Clients
@using AspNetCore.ReCaptcha

@model TenancyViewModel

@{
    this.ViewData["Title"] = "Tenancy";
}

<h1 class="text-light text-center">Резервация</h1>

<br>
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    @{bool isClientExist = !String.IsNullOrWhiteSpace(Model.Email); }

<div class="row" style="font-size:100%">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="FirstName">Име</label>
            @if (isClientExist)
            {
                <input class="form-control" asp-for="FirstName" readonly style="cursor:not-allowed" />
            }
            else
            {
                <input class="form-control" asp-for="FirstName" />
            }
            <span class="text-danger" asp-validation-for="FirstName"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName">Фамилия</label>
            @if (isClientExist)
            {
                <input class="form-control" asp-for="LastName" readonly style="cursor:not-allowed" />
            }
            else
            {
                <input class="form-control" asp-for="LastName" />
            }
            <span class="text-danger" asp-validation-for="LastName"></span>
        </div>
        <div class="form-group">
            <label asp-for="PersonalIdentityNumber">ЕГН</label>
            @if (isClientExist || (Model.PersonalIdentityNumber != null))
            {
                <input class="form-control" asp-for="PersonalIdentityNumber" readonly style="cursor:not-allowed" />
            }
            else
            {
                <input class="form-control" asp-for="PersonalIdentityNumber" />
            }
            <span class="text-danger" asp-validation-for="PersonalIdentityNumber"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Phone">Телефон</label>
            @if (isClientExist)
            {
                <input class="form-control" asp-for="Phone" readonly style="cursor:not-allowed" />
            }
            else
            {
                <input class="form-control" asp-for="Phone" />
            }
            <span class="text-danger" asp-validation-for="Phone"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email">Имейл</label>
            @if (isClientExist)
            {
                <input class="form-control" asp-for="Email" type="email" readonly style="cursor:not-allowed" />
            }
            else
            {
                <input class="form-control" asp-for="Email" type="email" />
            }
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <label asp-for="RoomId">Номер на стая</label>
            <input class="form-control" asp-for="RoomId" readonly style="cursor:not-allowed" />
            <span class="text-danger" asp-validation-for="RoomId"></span>
        </div>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="AccommodationDate">Дата на настаняване</label>
        <input class="form-control" asp-for="AccommodationDate" />
        <span class="text-danger" asp-validation-for="AccommodationDate"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="DepartureDate">Дата на напускане</label>
        <input class="form-control" asp-for="DepartureDate" />
        <span class="text-danger" asp-validation-for="DepartureDate"></span>
    </div>

    <div class="form-group col-md-12 text-center">
        @Html.ReCaptcha()
        <button id="btnsubmit" class="btn btn-success btn-lg" type="submit">Резервирай</button>
    </div>
</div>
</form>