@using TheHotel.ViewModels.Employees

@model IEnumerable<EmployeeViewModel>

@{
    ViewData["Title"] = "Employees";
}

<div>
    <h1 class="text-center text-light m-4">Служители</h1>
</div>

<table class="table table-hover table-striped table-responsive-md text-light">
        <tr class="text-center text-warning">
            <th>Име</th>
            <th>Фамилия</th>
            <th>Роля</th>
            <th>Регистриран на</th>
        </tr>
    @foreach (var employee in Model.OrderBy(x => x.Role))
    {
            <tr class="text-center"
                onclick="window.location.href = '/Employees/Details?employeeId=@employee.Id'"
                onmouseover="this.style.backgroundColor = 'orange'"
                onmouseout="this.style.backgroundColor = 'transparent'"
                style="cursor:pointer">
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>@employee.Role</td>
                <td>@employee.CreatedOn</td>
            </tr>
    }
</table>