@using TheHotel.Common

<div class="form-group text-center">
    <dnt-captcha asp-captcha-generator-max="999999"
                 asp-captcha-generator-min="111111"
                 asp-captcha-generator-language="English"
                 asp-captcha-generator-display-mode="ShowDigits"
                 asp-use-relative-urls="true"
                 asp-placeholder="Въведи кода от снимката"
                 asp-validation-error-message="@GlobalConstants.InvalidCaptchaErrorMsg"
                 asp-font-name="Tahoma"
                 asp-font-size="20"
                 asp-fore-color="#333333"
                 asp-back-color="#ccc"
                 asp-text-box-class="text-box form-control col-md-12"
                 asp-text-box-template="<span class='form-group'><span class='form-group'></span></span>{0}"
                 asp-validation-message-class="text-danger"
                 asp-refresh-button-class="fas fa-redo btn text-white" />
</div>