@using Microsoft.AspNetCore.Identity
@using TheHotel.Data.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-warning" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Здравей, <br> @UserManager.GetUserAsync(User).Result.FirstName !</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <a class="nav-link text-light"
               onclick="logoutForm.submit()"
               style="cursor:pointer"><i class="bi bi-door-closed"
                                         style="font-size:larger"></i></a>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login"><i class="bi bi-door-open"
                                                                                        style="font-size:larger"></i></a>
    </li>
}
</ul>
