<div title="Отиди в началото" class="float-left">
    <i class="bi-arrow-up-circle text-warning" onclick="window.scrollTo({ top: 0, behavior: 'smooth' })" style="font-size:40px; cursor:pointer"></i>
</div>
<div title="Отиди в началото" class="float-right">
    <i class="bi-arrow-up-circle text-warning" onclick="window.scrollTo({ top: 0, behavior: 'smooth' })" style="font-size:40px; cursor:pointer"></i>
</div>