@model TheHotel.ViewModels.Rooms.AddImageToRoomViewModel

<form method="post" enctype="multipart/form-data">
    <div class="d-flex justify-content-center">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="RoomId"> </label>
            <input class="form-control text-center font-weight-bolder" type="number" name="roomId" value="@Model.RoomId" readonly />
        </div>
        <br />
        <div class="form-group">
            <label asp-for="Images"> </label>
            <input class="form-control" type="file" asp-for="Images" multiple/>
        </div>
        <div>
            <button class="form-control" type="submit">Добави</button>
        </div>
    </div>
</form>