@using TheHotel.ViewModels.Rooms
@model HireRoomViewModel

@{
    this.ViewData["Title"] = "Client PIN";
}

<form class="col-6 offset-3" method="post">
    <div class="row">
            <div class="form-group text-center col-md-12">
                <label style="font-size:30px" class="font-weight-bold" asp-for="PersonalIdentityNumber">ЕГН</label>
                <input style="font-size:30px" class="form-control text-center" asp-for="PersonalIdentityNumber" />
                <span class="text-danger" asp-validation-for="PersonalIdentityNumber"></span>
            </div>
        <div class="text-center col-md-12">
            <button class="btn btn-lg btn-success text-center" type="submit">Потвърди</button>
        </div>
    </div>
</form>


