@using TheHotel.ViewModels.Clients
@model TenancySuccessViewModel

<div class="alert alert-success">
    <h2>Successfully @Model.ClientName hired room @Model.RoomId from @Model.AccDate to @Model.DepDate</h2>
</div>