@using TheHotel.ViewModels.Clients
@model TenancyViewModel

@{
    this.ViewData["Title"] = "Tenancy";
}

<div class="jumbotron-fluid border border-top-0" style="background-color: navajowhite; height:50px">
    <h1 class="text-center">Tenancy</h1>
</div>
<br>
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row" style="font-size:100%">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input class="form-control" asp-for="FirstName" />
                <span class="text-danger" asp-validation-for="FirstName"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input class="form-control" asp-for="LastName" />
                <span class="text-danger" asp-validation-for="LastName"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalIdentityNumber"></label>
                <input class="form-control" asp-for="PersonalIdentityNumber" />
                <span class="text-danger" asp-validation-for="PersonalIdentityNumber"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Phone"></label>
                <input class="form-control" asp-for="Phone" />
                <span class="text-danger" asp-validation-for="Phone"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input class="form-control" asp-for="Email" type="email" />
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomId"></label>
                <input class="form-control" asp-for="RoomId" readonly />
                <span class="text-danger" asp-validation-for="RoomId"></span>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="AccommodationDate"></label>
            <input class="form-control" asp-for="AccommodationDate" />
            <span class="text-danger" asp-validation-for="AccommodationDate"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="DepartureDate"></label>
            <input class="form-control" asp-for="DepartureDate" />
            <span class="text-danger" asp-validation-for="DepartureDate"></span>
        </div>
        <br>
        <div class="form-group col-md-12 text-center">
            <input class="btn btn-primary btn-lg" type="submit" name="confirmBtn" value="Confirm" />
        </div>
    </div>
</form>
