@{
    ViewData["Title"] = "Restaurant";
}

<div style="margin: 0;">
    <h1 class="jumbotron-fluid text-center border border-top-0 shadow" style="background-color: navajowhite;height:55px;">Welcome to the restaurant !</h1>
</div>

<div class="restaurantWelcomeDiv jumbotron jumbotron-billboard col-md-10 offset-1 text-center">
    <div class="restaurantWelcomeText">
        <h2 class="text-light rounded-pill">
            In our restaurant all the products used are of high quality.
            <br>
            We offer especially delicious food.
            <br>
            Take a look at our <a class="text-primary rounded-pill font-weight-bolder" style="font-size:120%;" href="/Restaurant/Menu">MENU</a>.
        </h2>
    </div>
</div>