@{
    ViewData["Title"] = "Restaurant";
}

<div style="margin: 0;">
    <h1 class="jumbotron-fluid text-center border border-top-0 shadow" style="font-family:'Times New Roman';background-color: navajowhite;height:55px;">Welcome to the restaurant !</h1>
</div>

<div class="jumbotron jumbotron-billboard col-md-10 offset-1 text-center" style="background-image: url(https://cdn3.vectorstock.com/i/1000x1000/98/62/vintage-restaurant-background-with-food-icons-vector-1909862.jpg); background-repeat: no-repeat; background-size: cover ">
    <div style="font-family:Algerian">
        <h2 class="text-light rounded-pill" style="background: rgb(0, 0, 0, 0.05);">
            In our restaurant all the products used are of high quality.
            <br>
            We offer especially delicious food.
            <br>
            Take a look at our <a class="text-primary rounded-pill font-weight-bolder" style="font-size:120%;" href="/Restaurant/Menu">MENU</a>.
        </h2>
    </div>
</div>