@{
    ViewData["Title"] = "Home CurrentPage";
}



<partial name="_UnderConstruction" />
<div>
    @if (TempData["SuccessfullyRequest"] != null)
    {
        <div id="ale" class="alert alert-success alert-dismissible fade show mt-2" role="alert">
            <strong>Успешно изпратихте заявка за резервация!</strong>
            <br />
            Ще Ви уведомим на
            <strong class="border-bottom">
                @TempData["SuccessfullyRequest"]
            </strong>, когато наш служител потвърди заявката!
            <button onclick="ale.style.display = 'none';" type="button" class=" bi-x-lg bg-success border-0 float-md-right" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    @if (TempData["QuestionSuccessfully"] != null)
    {
        <div id="ale" class="alert alert-success alert-dismissible fade show mt-2" role="alert">
            <strong>@TempData["QuestionSuccessfully"]</strong>
            <button onclick="ale.style.display = 'none';" type="button" class=" bi-x-lg bg-success border-0 float-md-right" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <h1 class="text-center text-light">Добре дошли в ... !</h1>
</div>

<div id="map" class="col-md-6" style="height:400px; width:contain"></div>
<partial name="_GoogleMap"/>