@{
    ViewData["Title"] = "Home Page";
}

<div style="margin: 0 auto; height: 500px;">
    <h1 class="jumbotron-fluid text-center border border-top-0 shadow" style="background-color: navajowhite;height:55px">Добре дошли в ... !</h1>
</div>
