@using TheHotel.ViewModels.Reviews
@using AspNetCore.ReCaptcha

@model CreateReviewViewModel

<div>
    <h1 class="text-light text-center m-4">Напишете отзив</h1>
</div>

<form method="post">
    <div class="text-danger text-center border-danger" asp-validation-summary="All"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group text-warning">
                <label asp-for="FirstName">Име</label>
                <input class="form-control" asp-for="FirstName" />
                <span class="text-danger" asp-validation-for="FirstName"></span>
            </div>
            <div class="form-group text-warning">
                <label asp-for="LastName">Фамилия</label>
                <input class="form-control" asp-for="LastName" />
                <span class="text-danger" asp-validation-for="LastName"></span>
            </div>
            <div class="form-group text-warning">
                <label asp-for="Email">Имейл</label>
                <input class="form-control" asp-for="Email" />
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>

        </div>
        <div class="col-md-8">
            <div class="form-group text-warning row">
                <label class="float-md-left" asp-for="Rating">Рейтинг</label>
                <div class="rate m-3">
                    <input asp-for="Rating" type="radio" id="star5" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input asp-for="Rating" type="radio" id="star4" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input asp-for="Rating" type="radio" id="star3" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input asp-for="Rating" type="radio" id="star2" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input asp-for="Rating" type="radio" id="star1" value="1" />
                    <label for="star1" title="text"></label>
                </div>
                <span asp-validation-for="Rating"></span>
            </div>
            <div class="form-group text-warning row">
                <label asp-for="Text">Отзив</label>
                <textarea rows="5" class="form-control" asp-for="Text"></textarea>
                <span class="text-danger" asp-validation-for="Text"></span>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <div class="form-group d-inline-block m-2">
                @Html.ReCaptcha()
            </div>
            <div class="text-center">
                <button type="submit" class="btn-lg btn-warning">Добави</button>
            </div>
        </div>
    </div>
</form>