<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/026a1c80-773a-4ccc-894c-ecfd3e01c36d/resourceGroups/whotel/providers/Microsoft.Web/sites/whotel</ResourceId>
    <ResourceGroup>whotel</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://whotel.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>bca678d2-646c-4a63-915c-43f225f419d5</ProjectGuid>
    <PublishUrl>https://whotel.scm.azurewebsites.net/</PublishUrl>
    <UserName>$whotel</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>