html, body {
    height: 100%;
}

body {
    font-family: cursive;
    font-size: 18px;
    background-image: linear-gradient(rgb(0,0,0,0.7), rgba(0,0,0,0.8)), url("../img/bgImg.jpg");
    background-size: contain;
}

.img-gallery img {
    cursor: pointer
}

    .img-gallery img:hover {
        transform: scale(0.8) rotate(-5deg);
        transition: 0.3s;
        border-radius: 20px;
    }

.full-img-box {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index:100;
}

    .full-img-box img {
        width: 90%;
        max-width: 500px;
    }

    .full-img-box span {
        position:absolute;
        top:5%;
        right:5%;
        font-size: 30px;
        color:white;
        cursor:pointer;
    }


.validation-summary-errors ul {
    list-style: none;
    margin-left: -40px
}

div.restaurantWelcomeText {
    font-family: Algerian;
}

div.restaurantWelcomeDiv {
    background-image: linear-gradient(rgb(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn3.vectorstock.com/i/1000x1000/98/62/vintage-restaurant-background-with-food-icons-vector-1909862.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

div.modal-body {
    color: black;
}

input, textarea {
    opacity: 0.9;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

    .rate:not(:checked) > input {
        position: absolute;
        top: -9999px;
    }

    .rate:not(:checked) > label {
        float: right;
        width: 1em;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 30px;
        color: #ccc;
    }

        .rate:not(:checked) > label:before {
            content: '★ ';
        }

    .rate > input:checked ~ label {
        color: #ffc700;
    }

    .rate:not(:checked) > label:hover,
    .rate:not(:checked) > label:hover ~ label {
        color: #deb217;
    }

    .rate > input:checked + label:hover,
    .rate > input:checked + label:hover ~ label,
    .rate > input:checked ~ label:hover,
    .rate > input:checked ~ label:hover ~ label,
    .rate > label:hover ~ input:checked ~ label {
        color: #c59b08;
    }
