@using TheHotel.ViewModels.Contacts
@using AspNetCore.ReCaptcha

@model QuestionViewModel

@{
    this.ViewData["Title"] = "Contacts";
}

<partial name="_UnderConstruction" />

<div>
    <h1 class="text-center text-light m-4">Контакти</h1>
</div>

<div class="row border-bottom border-warning m-2">
    <div class="col-md-4 border-right border-warning">
        <dl>
            <dt class="d-inline-block text-warning">Телефон:</dt>
            <dd class="d-inline-block">0801111111</dd>
        </dl>
        <dl>
            <dt class="d-inline-block text-warning">Имейл:</dt>
            <dd class="d-inline-block">hotelesender@gmail.com</dd>
        </dl>
        <dl>
            <dt class="d-inline-block text-warning">Адрес:</dt>
            <dd class="d-inline-block">...</dd>
        </dl>
    </div>
    <div class="col-md-8">
        <form method="post">
            <div class="text-center border-bottom border-warning">
                <h3 class="text-warning">Свържете се с нас</h3>
            </div>
            <div class="text-center text-danger font-weight-bold m-2" asp-validation-summary="All"></div>
            <div class="row">


                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="FirstName">Име</label>
                        <input class="form-control" asp-for="FirstName" />
                        <span class="text-danger" asp-validation-for="FirstName"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email">Имейл</label>
                        <input class="form-control" asp-for="Email" />
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone">Телефон</label>
                        <input class="form-control" asp-for="Phone" />
                        <span class="text-danger" asp-validation-for="Phone"></span>
                    </div>
                </div>
                <div class="col-md-8 text-center">
                    <div class="form-group">
                        <label asp-for="Title">Заглавие</label>
                        <input class="form-control" asp-for="Title" />
                        <span class="text-danger" asp-validation-for="Title"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Text">Запитване</label>
                        <textarea rows="4" class="form-control" asp-for="Text"></textarea>
                        <span class="text-danger" asp-validation-for="Text"></span>
                    </div>
                </div>
            </div>
            <div class="row m-2">
                <div class="form-group d-inline-block m-2">
                    @Html.ReCaptcha()
                </div>
                <div class="text-center d-inline-block m-2">
                    <button class="btn btn-warning btn-lg m-2" type="submit">Изпрати запитване</button>
                </div>
            </div>
        </form>
    </div>
</div>
<h3 class="text-warning text-center m-4">Карта</h3>
<div id="map" class="m-2" style="height:300px; width:contain"></div>
<partial name="_GoogleMap"/>